<div class="start-div">
        <div class="background-image">
        <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
                <li class="background-image" style="background: url('{{s}}') no-repeat;background-size: cover;background-position: center center;">
                    <!-- <img ng-src="{{s}}" class="img-full"> -->
                </li>
            </flex-slider>
    
        <div class="grat-text1 shadow">
            <div class="text-center"><img src="img/logo.jpg"></div>
            <!-- <h4 class="text-center"><strong>G</strong>F</h4> -->
            <h5 class="text-capitalize text-center gf"><strong>GRATITUDE</strong>FUND</h5>
            <div class="horizontal"></div>
            <div class="para">
                We are a community of investors that help change the way people work, live, exercise, eat, give, love and express gratitude.
                We invest in people and their ideas. We seed invest with the belief that in our own little way we can help
                nurture the seeds of love and gratitude to create a more beautiful and grateful universe. We see the good
                in all ideas and the universe in all people.

            </div>
        </div>
        <div class="arrow"><a href="#connect" target="_self"><img src="img/down-arrow.png"></a></div>
    </div>
    <div class="background-image1" id="connect">
        <div class="text-capitalize connect-text">CONNECT</div>
        <div class="grat-text2 colorful-border">
            <div>
                <div class="spacing-bottom">
                    <div><a href="https://twitter.com/GratitudeFund" target="_blank"><img src="img/icon.png"></a></div>
                    <div><a href="https://twitter.com/GratitudeFund" target="_blank">@GratitudeFund</a></div>
                </div>
                <div class="spacing-bottom">
                    <div><a href="mailto:jsw@gratitudefund.in"><img src="img/icon1.png" target="_self"></a></div>
                    <div><a href="mailto:jsw@gratitudefund.in" target="_self">jsw@gratitudefund.in</a></div>
                </div>
                <div class="spacing-bottom">
                    <div><a href=""><img src="img/icon2.png"></a></div>
                    <div><a href="tel:+1 (917) 720-3663">+1 (917) 720-3663</a></div>
                        <div><a href="tel:+919967233337">
                            +91 9967233337</a></div>
                </div>
                <div>
                    <div><img src="img/icon3.png"></div>
                    <div><a>Gratitude Fund, LLC<br>41 Yukon Drive,Woodbury,<br> NY 11797</a></div>
                </div>
            </div>
            <!-- <div class="horizontal spacing"></div> -->
        </div>
    </div>
</div>