<footer>
<div class="gradient-style"></div>
    <div class="footer-spacing">
    <div class="container-fluid">
        <div class="text-center">
            <div class="pull-left spacing">
                2017 Gratitude Funds LLC. All Rights Reserved                
            </div>
            <div class="spacing">
                Made with<img src="img/love.jpg" height="20px"> for a better future                
            </div>
            <div class="pull-right spacing">
                Designed by <a href=""><img class="img-logo" src="img/footer-logo.png"></a>
            </div>
        </div>
    </div>
    </div>
</footer>