<footer>
    <div class="gradient-style"></div>
    <div class="footer-spacing">
        <div class="row">
                <div class="hidden-md visible-xs">
                        <div class="spacing spac2">
                            Made with <img class="image-space" src="img/love.png" height="20px"> for a better future
                        </div>
                </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spacing spac1">
                            &#169 2017 Gratitude Fund LLC. All Rights Reserved
                        </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
                    <div class="spacing spac2">
                        Made with <img class="image-space" src="img/love.png" height="20px"> for a better future
                    </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="spacing spac3">
                        Designed by <a href="https://www.behance.net/TheGratitudeCo" target="blank"><img class="img-logo" src="img/footer-logo.png"></a>
                    </div>
            </div>
        </div>
    </div>
</footer>